// Custom SCSS below
.pd-t-7 {
    padding-top: 7px;
}

.hidden {
    opacity: 0;
}

.btn-cancel {
    -webkit-appearance: none;
}

.hide-button {
    display: none;
}

.upload-button {
    margin-left: 24%;
    margin-top: 1%;
}

.search-label {
    display: inline-block;
    width: 85px;
}

.img-circle {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 35px;
    height: 35px;
}

.language-img-size {
    width: 25px;
    height: 25px;
}

.large-label {
    font-size: 20px !important;
}

.move-cursor {
    cursor: move;
}

.list-style {
    border: none !important;
}

.role-title {
    color: #36a3f7;
    font-weight: bold;
    font-size: 1em;
}

.role-content-title {
    font-weight: bold;
    font-size: 1em;
}

.role-content-list {
    border: none !important;
    padding: 0 0 0.8em 0 !important;
}

.check-icon {
    color: #36a3f7;
}

.pt-list-5 {
    padding-top: 5px;
}

.gray-text {
    color: gray;
}

.button-box {
    text-align: right;
    border-top: 1px solid #ebedf2;
    ;
}

.gray-text:hover {
    color: gray;
}

.role-table {
    background: lightgray;
    color: white;
}

.select-role-portlet {
    background: #f2f3f8;
    box-shadow: initial;
}

.form-role-title {
    font-weight: bold !important;
    font-size: 1em !important;
}

.modal-title-text {
    padding-left: 0;
    font-size: 0.8em;
    font-weight: bold !important;
}

select {
    text-indent: 6px;
}

.select2-selection--single {
    height: 38px !important;
    .select2-selection__rendered {
        line-height: 18px !important;
        padding-left: 15px  !important;
    }
    .select2-selection__arrow {
        top: 18px !important;
    }
}

.select2-container--default {
    .select2-selection--multiple {
        min-height: 38px !important;
        .select2-selection__rendered {
            line-height: 2;
        }
    }
    width: 100% !important;
}

.upload {
    .result-upload {
        img {
            width: 80px;
            height: 60px;
            margin: 10px;
            cursor: pointer;
        }
    }
    .modal-upload {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.field-error {
    color: red;
}

.input-group-append:hover {
    cursor: pointer;
}

.dish-extra-item-field {
    padding: 10px;
    border: 1px dashed #000;
}

.dish_customization {
    margin-bottom: 10px;
}

.modal-ku {
    width: 750px;
    margin: auto;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 300px;
    overflow-y: scroll;
}

.dish-extra-item .btn {
    max-width: 110px;
    overflow: hidden;
}

#list_customization,
#list_tbd,
#list_tbp {
    padding: 10px 0 0 0;
}

.dish-extra-item {
    padding: 0;
    margin-bottom: 10px;
}

.option-item {
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid rgb(235, 237, 242);
}

.option-item-remove {
    cursor: pointer;
}

.option-button{
  margin-bottom:10px;
}
.icon-wrapper{
  margin-left: 25px;
  padding:6px 11px;
  background: #E8E8E8;
  border-radius: 50%;
}
.icon{
  font-size: 20px !important;
  font-weight: 700;
  cursor: pointer;
}

.right-side-item {
    border-left: 1px solid #ebedf2;
}

#customization_portlet__body,
#tbd_portlet__body,
#tbp_portlet__body {
    background: #DCDCDC;
    margin: 5px 0 10px 0;
    max-height: 200px;
    width: 400px;
    border-radius: 20px;
}

//CSS for modal
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 920px;
    }
}

//end CSS for modal
.dish_customization {
    .cust-des {
        font-size: 8px;
    }
    .btn {
        padding: 3px;
    }
    .input-group-text {
        padding: 3px;
    }
}

.dish-tbd {
    .input-group-text {
        padding: 3px;
    }
}

.dish-tbp {
    .input-group-text {
        padding: 3px;
    }
}

.help-block {
    color: red;
}

//disabled number input increament
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// email css
.confirm-email {
    border: 3px dashed #ed792c;
    .title-border-bot {
        border-bottom: 1px solid #7c9bd6;
        padding: 5px;
        .restaurant-title {
            color: red;
        }
    }
    .email-body {
        font-size: 16px;
        margin-top: 15px;
        .emphasize-text {
            text-decoration: underline;
            font-weight: bold;
            font-size: 18px
        }
        .order-detail {
            border-bottom: 1px solid #7c9bd6;
            border-top: 1px solid #7c9bd6;
        }
        .contact-support {
            color: red;
        }
    }
}

.footer-btn {
    width: 150px;
    background: #E76715;
    color: white;
    text-transform: uppercase;
}

.btn_res_name {
    border: none;
    text-decoration: underline;
    background: no-repeat;
    cursor: pointer
}

.drag-cursor:hover {
    cursor: move;
}

// custom theme
.form-control[readonly],
.form-control {
    border-color: #ccc;
    color: #575962;
}

.bootstrap-select>.dropdown-toggle.btn-light,
.bootstrap-select>.dropdown-toggle.btn-secondary {
    background-color: transparent;
    color: #575962;
    border-color: #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.note-editor.note-frame .note-editing-area .note-editable {
    padding: 10px;
    overflow: auto;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #ccc;
}

//end custom theme

//Sale Report
.sale-title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}
.status-bar{
    margin-bottom: 10px;
    button{
      margin-top: 10px !important;
    }
}
.card-body{
    .table-responsive{
        margin-top: 10px;
    }

}

//detail info
.delivery-setting-section{
    margin-left: 55px;
    border: 1px dashed;
}

@media (max-width: 991px) {
    .delivery-setting-section {
        margin-left: 0;
        margin-top: 15px;
    }
}

// intro page
.intro-submit-btn {
    text-align: center;
}


.payment-setting {
    .online-setting {
        background: #ebebeb;
    }
}

#library .scroll-image {
  overflow-y: scroll;
  height: 400px;
}

.library-sub {
    .library-img:hover, .selected {
        border: 2px solid red;
    }
}

#category-dz, #restaurant-dz, #dish-dz {
    img {
        width: 100px;
        height: 100px;
        margin:20px 0;
    }
}

.not-allowed {
    pointer-events: none;
    cursor: not-allowed;
}

.scrollable-gallery {
    height: 300px;
    overflow-y: scroll;
}