//popup login and register
.modal-modal{
	.modal-content-login {
		 background: #EF0F0B;
		 background-image: linear-gradient(#FA1502, #E20713);
		 .modal_header {
			 padding-left: 20%;
			 padding-top: 15px;
		 }
		 .modal_body {
			 padding-left: 70px;
			 padding-right: 70px;
			 .col-icon {
				 margin-top: 17px;
				 color: antiquewhite;
				 font-size: 20px;
			 }
			 .title-text-register {
				 color: white;
			 }
			 .title-text-login {
				 color: white;
			 }
			 .form {
				 padding-bottom: 20px;
				 color: white;
				 .separator {
					 text-align: center;
					 position: relative;
					 height: 1px;
					 border-bottom: 1px solid white;
					 .separator-text {
						 position: relative;
						 background: #EF0F0B;
						 color: white;top: -17px;
						 padding-left: 20px;
						 padding-right: 20px;
						 font-size: 20px;
					 }
				 }
			 }
			 .form_body-register {
				 .form-register {
					 padding-bottom: 20px;
					 color: white;
					 .btn-submit {
						 width: 100%;
						 height: 42px;
						 background-image: linear-gradient(#FFF200,#FCCF07);
						 color: #D7011A;
						 font-size: 16px;
					 }
				 }
			 }
			 .forgot-pw-title-mg {
				 margin-left:-17%
			 }
			 @media (max-width: 415px) {
				 .forgot-pw-title-mg {
					 margin-left: -4%
				 }
			 }
		 }
		 @media (max-width: 415px) {
			 .modal_body {
				 padding-left: 50px;
				 padding-right: 50px;
			 }
		 }
		 .modal_footer {
			 padding-top: 120px;
			 margin-bottom: 10px;
			 .btn-submit {
				 width: 100%;
				 height: 42px;
				 background-image: linear-gradient(#FFF200,#FCCF07);
				 color: #D7011A;
				 font-size: 16px;
				 margin-bottom: 15px;
			 }
			 .flr-text {
				 float: right;
			 }
			 @media (max-width: 415px) {
				 .flr-text {
					 float: none;
				 }
			 }
			 .footer-text {
				 padding-bottom: 15px;
				 text-decoration-line: underline;
				 font-size: 17px;
				 color: bisque;
			 }
			 @media (max-width: 415px) {
				 .footer-text {
					 text-align: center;
				 }
			 }
		 }
	 }
}

@media only screen and (max-width: 823px) {
	.modal-modal {
		.modal-content-login {
			.modal_header {
				padding-left: 18%;
				padding-right: 10%;
			}
			.modal_body {
				.title-text-register {
					padding-left: 17%;
					color: white;
				}
				.title-text-login {
					color: white;
					padding-left: 4%;
				}
			}
		}
	}
}

//Home
.modal-home{
	.modal-dialog-home {
		.modal-content-home {
			//background: #EF0F0B;
			//background-image: linear-gradient(#FA1502, #E20713);
			border-color: #e8ad11;
			.modal_header {
				padding-left: 18%;
    			padding-top: 30px;
    			padding-bottom: 17%;
    			background: #EF0F0B;
			}
			.modal_body {
				padding-left: 95px;
				padding-right: 95px;
				label.wrap {
				    width:100%;
				    position: relative;
				    display: block;
				    border-bottom: 1px solid wheat;
				}
				select.dropdown {
				    height: 50px;
				    padding: 10px;
				    border: 0;
				    font-size: 15px;
				    //width: 200px;
				   -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
				}
				label.wrap:after {
				    content:"\f107 ";
				    font-family: FontAwesome;
				    color: #000;
				    position: absolute;
				    right: 0;
				    top: 18px;
				    z-index: 1;
				    width: 10%;
				    height: 100%;
				    pointer-events: none;
				}
			}
			.modal_map {
				padding-left: 95px;
				padding-right: 95px;
				.row-find {
					margin-top: 35px;
					.col-btn {
						.btn-submit {
							border-radius: 24px;
						    height: 44px;
						    width: 100%;
						    background-image: linear-gradient(#ffc453, #e89503);
						    font-weight: 700;
							color: #D7011A;
							font-size: 17px;
						}
					}
				}
			}
			.modal_footer {
				padding-left: 75px;
				padding-right: 75px;
				background: red;
			    padding-bottom: 20px;
			    padding-top: 17px;
				.btn-submit2 {
					width: 100%;
					height: 42px;
					background-image: linear-gradient(#FFF200,#FCCF07);
					color: #D7011A;
					font-size: 20px;
				}
			}
		}
	}
}

//iphone x and down
@media only screen and (max-width: 823px) {
	.modal-home {
		.modal-dialog-home {
			.modal-content-home {
				.modal_header {
					padding-left: 10%;
    				padding-right: 10%;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px){
	.modal-home {
		.modal-dialog-home {
			.modal-content-home {
				.modal_header {
					padding-left: 17%;
    				padding-right: 10%;
				}
				.modal_map {
					.row-find {
						.col-sm-2 {
							left:34%;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.modal-home {
		.modal-dialog-home {
			.modal-content-home {
				.modal_map {
					.row-find {
						.col-sm-2 {
							left:0;
						}
					}
				}
			}
		}
	}
}

//popup cart
.modal-cart {
    .modal-dialog-cart {
      	.content-cart {
      		.modal_header {
      			padding-bottom: 3%;
      			font-size: 20px;
      			.close {
      				background-color: white;
      				border: 0;
      				float: right;
      				clear: both;
      			}
      		}
        	.modal_body {
        		padding-left: 26px;
        		padding-right: 26px;
        		padding-top: 23px;
        		padding-bottom: 14px;
          		.table-cart {
          			width: 100%;
          			.table-tr-cart {
          				border-bottom: 1px solid black;
          				.nunmber {
						  	width: 10%;
						}
						.item {
						  	width: 30%;
						  	padding-right: 17%;
						  	float: left;
						}
						.price, .promotion, .rate,.vat {
						    width: 15%;
						}
						.table, tr {
						    width: 100%;
						}
						.text-header{
							color: #4f4f4f;
						}
          			}
          			.price, .promotion, .rate,.vat {
					  	text-align: center;
					}
					.item {
						float: left;
					}
          			.text-cart {
          				padding: 2% 0% !important;
          			}
          			.text {
          				color: #adb0bf;
          			}
	            }
        	}
      	}
    }
}

.number-vat{
	text-align: center;
}
.number-vat-detail{
	border: 1px solid black;
	padding: 7px 10px;
	color: #4f4f4f;
}
.text-sub-total{
	font-size: 11px;
    font-weight: 600;
    color: #4f4f4f;
}
.vat-sub-total{
	margin-left: 40%;
}
@media (max-width: 769px) {
	.vat-sub-total{
		margin-left: 10%;
	}
}

//iphone 5
@media only screen and (max-device-width: 480px) {
	.modal-cart {
    	.modal-dialog-cart {
      		.content-cart {
      			font-size: 13px;
      		}
      	}
    }
}

//popup info restaurant
.modal-info {
	.modal-dialog-info {
		.modal-content-info {
			width: 70%;
			margin: auto;
			border-radius: 9px;
			.modal_header {
				margin-bottom: 9%;
				.close {
					float: right;
				    background: white;
				    border: 0;
				    font-weight: bold;
				    font-size: 17px;
	    			color: black;
	    			padding: 5px 10px;
	    			margin-right: 6px;
				}
			}
			.modal_body {
				padding: 0 30px;
				width:100%;
				.col-img {
					filter: drop-shadow(1px 1px 2px black);
				}
				.col-text {
					padding: 0;
					.res-name {
						padding: 0;
					    color: black;
					    font-size: 22px;
					    font-weight: bold;
					    .icon-heart {
					    	margin-left: 15px;
					    }
					}
					.res-title {
						font-style: italic;
					    font-size: 14px;
					    color: black;
					    margin-top: -20%;
					}
					.res-btn {
						margin-top: -14%;
						.btn-talk {
							background-color: #ffbb0d;
							border: 0;
							border-radius: 30px;
							padding: 3px;
							width: 80%;
							filter: drop-shadow(1px 6px 2px black);
							color: #B20016;;
							font-weight: 700;
						}
					}
				}
			}
			.body-main {
			    padding: 0 30px;
			    .text-main {
			    	border-top: 1px solid;
			    	font-size: 14px;
			    	padding-top: 10px;
			    }
			}
			.body-star {
				padding: 0 30px;
				.col-one {
					padding: 0;
					.col-md-7 {
						font-weight: bold;
						color: black;
					}
					.col-md-5 {
						color: #B20016;;
						.icon-star {
							margin-left: 7px;
							color: #ffbb0d;
						}
					}
				}
				.col-two {
					.col-md-7 {
						font-weight: bold;
						color: black;
					}
					.col-md-5 {
						color: #B20016;;
						padding-left: 14%;
						.icon-star {
							margin-left: 7px;
							color: #ffbb0d;
						}
					}
				}
			}
			.body-img {
				padding: 13px 30px;
			}
			.body-icon {
				.delivery {
					p{
						padding-top: 0;
						margin: 0;
						.icon-col {
							margin-right: 10px;
						}
					}
				}
				.service {
					p {
						padding-top: 0;
						margin: 0;
						.icon-col {
							margin-right: 10px;
						}
					}
				}
			}
			.body-btn {
				padding: 0 30px;
				padding-bottom: 4%;
				padding-left: 7%;
				padding-top: 3%;
				.btn-talk {
					background-color: #ffbb0d;
					border: 0;
					border-radius: 30px;
					padding: 5px;
					width: 100%;
					filter: drop-shadow(1px 6px 2px black);
					color: #B20016;;
					font-weight: 900;
				}
			}
		}
	}
}

//ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	.modal-info {
		.modal-dialog-info {
			.modal-content-info {
				width: 70%;
				margin: auto;
				border-radius: 9px;
				.modal_body {
					padding-bottom: 20px;
					.col-text {
						padding-left: 10px;
					}
				}
			}
		}
	}
}

//iphonex,6,7,8,8plus
@media only screen and (max-width: 823px) {
	.modal-info {
		.modal-dialog-info {
			.modal-content-info {
				width: 70%;
				margin: auto;
				border-radius: 9px;
				.modal-body {
					.col-text {
						.res-name {
							.icon-heart {
								margin-left: 9px;
							}
						}
					}
				}
				.body-star {
					.col-two {
						.col-md-5 {
							padding-left: 3%;
						}
					}
				}
			}
		}
	}
}

#modalInfo{
	.services-info{
		color: #B20016;
	}
}

//popup list like restaurant
.modal-like {
	.modal-dialog-like {
		.modal-content-like {
			width: 70%;
			margin: auto;
			border-radius: 9px;
			.modal_header {
				margin-bottom: 9%;
				.close {
					float: right;
				    background: white;
				    border: 0;
				    font-weight: bold;
				    font-size: 17px;
	    			color: black;
	    			padding: 5px 10px;
	    			margin-right: 6px;

				}
			}
			.modal_body {
				padding: 35px 30px;
				width:100%;
				.col-img {
					filter: drop-shadow(1px 1px 2px black);
				}
				.col-text {
					padding: 0;
					.res-name {
						padding: 0;
					    color: black;
					    font-size: 22px;
					    font-weight: bold;
					    .icon-heart {
					    	margin-left: 15px;
					    }
					}
					.res-title {
						font-style: italic;
					    font-size: 14px;
					    color: black;
					    margin-top: -20%;
					}
					.res-btn {
						margin-top: -14%;
						.btn-talk {
							background-color: #ffbb0d;
							border: 0;
							border-radius: 30px;
							padding: 3px;
							width: 80%;
							filter: drop-shadow(1px 6px 2px black);
							color: #B20016;
							font-weight: 700;
						}
					}
				}
			}
			.dropdown {
				padding: 0 30px;
				.icon-dropdown {
					width: 100%;
					background-color: white;
					color: black;
					border-bottom-color: red;
					border-left: 0;
					border-right: 0;
					border-radius: 0;
					padding: 13px;
					padding-right: 65%;
					.fa-chevron-down {
						padding-left: 197%;
					}
				}
				.dropdown-menu {
					margin-left: 7%;
					width: 86%;
					margin-top: 8px;
					.mylist {
						padding: 0 20px;
					}
					.text-name-list {
						padding: 10px 20px;
						.name-list{
							border: 1px solid cadetblue;
    						border-radius: 0;
						}
					}
					.btn-mylist {
						padding: 0 20px;
						.btn-create{
							width: 100%;
							background: #ffbb0d;
							border: 0;
							border-radius: 31px;
							padding: 5px 0;
							color: #B20016;
    						font-weight: 700;
						}
					}
				}
			}
			.body-btn {
				padding: 0 30px;
				padding-bottom: 4%;
				padding-left: 7%;
				padding-top: 3%;
				.btn-talk {
					background-color: #ffbb0d;
					border: 0;
					border-radius: 30px;
					padding: 5px;
					width: 100%;
					filter: drop-shadow(1px 6px 2px black);
					color: #B20016;
					font-weight: 900;
				}
			}
		}
	}
}

//ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.dropdown {
					.icon-dropdown {
						margin-top: 15px;
						.icon-down {
							padding-left: 193%;
						}
					}
				}
			}
		}
	}
}
//iphone x
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.dropdown {
					.icon-dropdown {
						margin-top: 15px;
						.icon-down {
							padding-left: 136%;
						}
					}
				}
			}
		}
	}
}
//8 plus
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.dropdown {
					.icon-dropdown {
						margin-top: 15px;
						.icon-down {
							padding-left: 107%;
						}
					}
				}
			}
		}
	}
}
//iphone 8
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.dropdown {
					.icon-dropdown {
						margin-top: 15px;
						.icon-down {
							padding-left: 107%;
						}
					}
				}
			}
		}
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
    .modal-like {
		.modal-dialog-like {
			.modal-content-like{
				.dropdown {
					.icon-dropdown {
						margin-top: 15px;
						.icon-down {
							padding-left: 100%;
						}
					}
				}
			}
		}
	}
}

//popup add/mymenu
.modal-like {
	.modal-dialog-like {
		.modal-content-like {
			.modal_header {
				margin-bottom: 0;
				.text-left {
					left: 7%;
					.icon-left {
						width: 20px;
						color: black;
					}
					.text-head {
						color: #b20016;
						font-weight: 700;
						border-bottom: 1px solid;
					}
				}
				.icon-close {
					.close-btn{
						float: right;
						background: white;
						border: 0;
						font-weight: bold;
						font-size: 17px;
						color: black;
						padding: 5px 10px;
						margin-right: 17px;
					}
				}
			}
			.menu {
				margin-top: -8%;
				.title-body {
					margin-top: 0;
					font-size: 20px;
				}
				.title-text {
					margin-top: -6%;
					font-size: 14px;
					margin-bottom: -1%;
				}
				.title-price {
					float: right;
					margin-bottom: 11px;
					color: #4f4f4f;
					font-weight: 700;
					font-size: 17px
				}
			}
			.dropdown {
				.icon-dropdown {
					.icon-down {
						padding-left:170%
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.modal_header {
					.icon-close {
						.close-btn {
							margin-right: 19px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 736px) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.modal_header {
					.icon-close {
						.close-btn {
							margin-top: -16%;
						}
					}
				}
				.dropdown {
					.icon-dropdown {
						.icon-down {
							padding-left: 58%;
						}
					}
				}
			}
		}
	}
}
.customization-name {
	text-align: left;
}
//add-to-cart
.modal-like {
	.modal-dialog-like {
		.modal-content-like {
			.modal_header {
				.request-txt {
					margin-top: 5px;
					left: 7%;
					.text-head {
						color: #b20016;
						font-weight: 700;
						text-decoration: underline;
					}
				}
			}
			.info-add-to-cart {
				margin-top: -16%;
				margin-bottom: -6%;
				.title-body {
					color: #4f4f4f;
					.icon-heart {
						margin-left: 10px;
						font-size: 17px;
					}
				}
				.title-text {
					font-size: 13px;
					margin-top: -7%;
				}
				.title-price {
					float: right;
    				font-size: 15px;
				    font-weight: 700;
				    color: #4f4f4f;
				}
			}
			.option {
				cursor: pointer;
			}
			.selected-customization {
				margin-bottom: 13px;
				.option--selected {
					color: #b20016;
					cursor: pointer;
				}
				.customization {
					border: 1px solid;
					box-shadow: 0 1px 4px;
					height: 32px;
					margin-left: 0;
					background-color:white;
					color: black;
					width: 100%;
					.customization-name {
						color: #b20016;
						font-weight: 700;
						text-decoration: underline;
					}
					.customization-price {
						float: right;
						color: #b20016;
						font-weight: 700;
					}
					.icon-down {
						margin-top: -6%;
						.icon-down-chevren {
							color: #b20016;
						}
					}
				}
				.collapse-option {
				    margin-top: 10px;
					padding: 0 17px;
					.price-details {
						margin-top:-7%
					}
				}
			}
			.unselected-customization {
				margin-bottom: 5px;
				.customization {
					height: 32px;
					margin-left: 0;
					background-color:white;
					width: 100%;
					border: none;
					.customization-name, .customization-price {
						font-weight: 700;
						color: #4f4f4f;
					}
					.icon-down {
						margin-top: -6%;
						.icon-down-chevren {
							color: #b20016;
						}
					}
				}
				.collapse-option {
					padding: 0 17px;
					.price-details {
						margin-top:-7%
					}

				}
			}
			.text-note {
				width: 100%;
				padding: 0 27px;
				.details-note {
					height: 60px;
					border: 1px solid;
					color: #979797;
				}
			}
			.quantity-add-to-cart {
				padding: 15px 27px;
				.title-quantity {
					color: #4f4f4f;
					font-weight: 700;
				}
				.quantity {
					display: inline-block;
				}
				.quantity .input-text.qty {
					 width: 35px;
					 height: 39px;
					 padding: 0 5px;
					 text-align: center;
					 background-color: transparent;
					 border: 1px solid #efefef;
					 width: 35%;
					 height: 30px;
					 border: none;
					 margin: 4px -9%;
				}

				.quantity.buttons_added {
					 text-align: left;
					 position: relative;
					 white-space: nowrap;
					 vertical-align: top;
					 margin-top: -8%;
				}

				.quantity.buttons_added input {
					 display: inline-block;
					 margin: 0;
					 vertical-align: top;
					 box-shadow: none;
				}

				.quantity.buttons_added .minus,
					.quantity.buttons_added .plus {
						 padding: 7px 10px 8px;
						 height: 41px;
						 background-color: #ffffff;
						 border: 1px solid #efefef;
						 cursor:pointer;
					 }

					.quantity.buttons_added .minus {
						border-right: 0;
						border: none;
						background-color: white;
						color: #b20016;
					}

					.quantity.buttons_added .plus {
						border-left: 0;
						border: none;
						background-color: white;
						color: #b20016;
					}

					.quantity.buttons_added .minus:hover,
						.quantity.buttons_added .plus:hover { background: #eeeeee; }

					.quantity input::-webkit-outer-spin-button,
						.quantity input::-webkit-inner-spin-button {
						 -webkit-appearance: none;
						 -moz-appearance: none;
						 margin: 0;
					}

					.quantity.buttons_added .minus:focus,
						.quantity.buttons_added .plus:focus { outline: none; }
			}
			.btn-add-to-cart {
				padding: 0 30px;
				padding-bottom: 4%;
				padding-left: 7%;
				.btn-submit {
					height: 40px;
					background-color: #ffbb0d;
					border: 0;
					border-radius: 30px;
					padding: 5px 20px;
					width: 100%;
					filter: drop-shadow(1px 6px 2px black);
					color: #B20016;
					font-weight: 900;
					text-align: left;
					.price-total {
						float: right;
					}
				}
			}
		}
	}
}
.icon-show{
	color: #b20016;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.quantity-add-to-cart {
					margin-left: 3px;
				}
			}
		}
	}
}

@media only screen and (max-device-width: 767px) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.modal_header {
					.request-txt {
						left: 13%;
					}
					.icon-close {
						.close-btn {
							margin-top: -9%;
						}
					}
				}
				.select-option {
					.btn-primary {
						.promotion {
							left: -33%;
						}
						.cus-title-left-40 {
							left: -40%;
						}
						.cus-title-left-40 {
							left: -29%;
						}
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -26vh;
							}
						}
						.price-option {
							margin-top: -11%;
						}
					}
					.collapse-option {
						.price-details {
							float: right;
    						margin-top: -11%;
						}
					}
				}
				.sel-option {
					.show-option {
						padding: 0 30px;
						.text-drink {
							float: left;
						}
						.text-option {
							float: left;
						}
						.icon-down {
							float: right;
						    margin-right: -21%;
						    margin-top: -1px;
						}
					}
					.collapse-option {
						.price-details {
							float: right;
    						margin-top: -12%;
						}
					}
				}
				.quantity-add-to-cart {
					.quantity {
						right: -16vh;
						margin-top: -13%;

					}
				}
			}
		}
	}
}

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -34vh;
							}
							.icon-heart {
								margin-right: -28vh;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-device-width: 375px) and (max-device-height:
812px) and (-webkit-device-pixel-ratio: 3){
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -29vh;
							}
							.icon-heart {
								margin-right: -24vh;
							}
						}
					}
				}
				.quantity-add-to-cart {
					.quantity {
						padding-right: 20vh;
					}
				}
			}
		}
	}
}
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3){
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -27vh;
							}
							.icon-heart {
								margin-right: -27vh;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (device-width: 411px) and (device-height: 731px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2.6) and (-webkit-device-pixel-ratio : 3) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -24vh;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -24vh;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) {
	.modal-like {
		.modal-dialog-like {
			.modal-content-like {
				.select-option {
					.btn-primary {
						.icon-down {
							margin-top: -12%;
							.icon-down-chevren {
								margin-right: -23vh;
							}
						}
					}
				}
			}
		}
	}
}

#otpModal, #synchronizeModal{
	.popup-border-none {
		border: none !important;
	}
	.popup-notice {
		margin-top: -30px;
		color: black;
		font-weight: bold;
		font-size: 16px;
	}
    .popup-order-success {
		margin-top: -30px;
		font-weight: bold;
		font-size: 16px;
		color: #777777;
	}
	@media (max-width: 415px) {
      .popup-notice {
          font-size: 13px;
      }
	}
	.contact-info {
		color: #B65854;
		font-weight: normal;
		font-size: 15px;
	}
	@media (max-width: 415px) {
		.contact-info {
			font-size: 12px;
		}
	}
	.otp-input {
		padding-left: 43%;
		font-size: 35px;
		border: none;
		margin-top: -35px;
	}
	@media (max-width: 769px) {
		.otp-input {
			padding-left: 41%;
			font-size: 25px;
		}
	}
	.btn-resend-otp {
		width: 200px;
		font-weight: bold;
		border-radius: 20px;
		color: red;
		box-shadow: 0 5px 10px #888888;
		background-image: linear-gradient(to right, #FFC554, #F7B425);
	}
	.btn-otp-after-click {
		border: none;
		width: 200px;
		font-weight: bold;
		border-radius: 20px;
		box-shadow: 0 5px 10px #888888;
		color: #686D89;
		background-image: linear-gradient(to right, white, #BBBBBB);
	}
	.title-custom {
		color: black;
		font-weight: bold;
	}
	.btn-apply {
		font-size: 14px;
		width: 200px;
		font-weight: bold;
		border-radius: 20px;
		color: red;
		box-shadow: 0 5px 10px #888888;
		background-image: linear-gradient(to right, #FFC554, #F7B425);
	}
	.btn-cancel {
		font-size: 14px;
		border: none;
		width: 200px;
		font-weight: bold;
		border-radius: 20px;
		box-shadow: 0 5px 10px #888888;
		color: #686D89;
		background-image: linear-gradient(to right, white, #BBBBBB);
	}
	@media (max-width: 415px) {
		.btn-apply {
			width: 130px;
		}
		.btn-cancel {
			width: 130px;
		}
	}
	@media (max-width: 321px) {
		.btn-apply {
			width: 110px;
		}
		.btn-cancel {
			width: 110px;
		}
	}
	.btn-lets-eat {
		font-size: 12px;
		border: 2px solid #FFD056;
		width: 170px;
		font-weight: bold;
		border-radius: 20px;
		box-shadow: 0 5px 10px #888888;
		color: #E54449;
		background: white;
		padding-right: 25%;
		height: 45px;
	}
	.btn-discovery {
		font-size: 12px;
		border: 2px solid #FFD056;
		width: 170px;
		font-weight: bold;
		border-radius: 20px;
		box-shadow: 0 5px 10px #888888;
		color: #E54449;
		background: white;
		height: 45px;
	}
	@media (max-width: 415px) {
		.btn-lets-eat {
			width: 150px;
		}
		.btn-discovery {
			width: 150px;
		}
	}
	@media (max-width: 375px) {
		.btn-lets-eat {
			width: 130px;
		}
		.btn-discovery {
			width: 130px;
		}
	}
	@media (max-width: 321px) {
		.btn-lets-eat {
			width: 110px;
		}
		.btn-discovery {
			width: 110px;
		}
	}
	.btn-lets-eat-pd-left {
		padding-left: 30%;
	}
	@media (max-width: 321px) {
		.btn-lets-eat-pd-left {
			padding-left: 15%;
		}
	}
	.btn-discovery-pd-left {
		padding-left: 20%;
	}
	@media (max-width: 415px) {
		.btn-discovery-pd-left {
			padding-left: 7%;
		}
	}
	@media (max-width: 321px) {
		.btn-discovery-pd-left {
			padding-left: 0;
		}
	}
	.right-arrow-pd {
		padding-left: 25%;
	}
	@media (max-width: 321px) {
		.right-arrow-pd {
			padding-left: 10%;
		}
	}
}

//pupop-promotion
.icon-close-{
        background-color: white;
        border: 0;
        float: right;
        margin: 1px 23px;
    } 
    .content-promotion{
        margin-top: 18%;
        border-radius: 19px;
    }
    .title-model{
        padding: 1% 8%;
    }
    .text-promotion{
        color: #b20016;
        font-weight: 600;
    	font-size: 14px;
        float: left;
    }
    .icon-close-header{
        font-size: 20px;
    }
    .modal-body-promotion{
        padding-left: 5%;
        padding-bottom: 14px;
    }
    .promotion-code{
        color: #686d89;
        font-weight: 700;
    }
    .field-code{
        margin: 22px -1px !important;;
        height: 35px !important;;
        width: 93% !important;;
        border: 1px solid !important;;
        border-color: #979797 !important;
    }
.icon-close-code{
    padding-left: 11%;
    color: black;
    font-weight: 500;
}

.title-model{
	text-align: center;
	color: #686d89;
	font-weight: 600;
    font-size: 14px;
}

.title-model-item{
	color: #686d89;
	padding: 6px 16px;
	font-weight: 600;
    font-size: 14px;
}

.col-number{
	margin: 13px 0px;
}
.field-num{
	border: 1px solid;
	padding: 3px 7px;
}
.name-restaurant{
	color: #4f4f4f;
}
.des-dish{
	color: #4f4f4f;
	font-size: 10px
}
.total-price{
	text-align: center;
	margin: 25px 0px;
}
.dis-count{
	padding-left: 14%;
	margin: 25px 0px;
}
.total-{
	float: right;
	margin-right: 4vh;
}
.title-service{
	color: #4f4f4f;
	font-size: 14px;
}
.text-final{
	color: #4f4f4f;
	font-weight: 700;
	font-size: 16px;
}
.promotion-code-detail{
	margin-top: 4%;
	margin-bottom: 3%;
}
.title-promotion-code{
	color: #4f4f4f;
	font-weight: 500;
	font-size: 12px;
}
.des-promotion-code{
	font-size: 10px;
	color: #4f4f4f;
}
.btn-promotion-code{
	padding-top: 17vh;
	padding-bottom: 4%;
}
.btn-apply-pro-code{
	border: none;
	border-radius: 23px;
	width: 46%;
	background-color: #ffbc0d;
	color: #b20016;
	font-weight: 600;
}
.btn-cacel-pro-code{
	border: none;
	border-radius: 23px;
	width: 46%;
	background-color: #9b9b9b;
	color: #000000;
	font-weight: 600;
}
@media (max-width: 769px) {
	.promotion--code{
		padding: 0% 8%;
	}
}
@media (max-width: 813px) {
	.title-model-item{
		margin-left: -15px;
	}
	.field-num{
		margin-left: 16px;
	}
}
@media (max-width: 1367px) and (min-width: 1024px) {
	.total-{
		margin-right: 2vh !important;
	}
}
@media (max-width: 1024px) {
	.total-{
		margin-right: 6vh;
	}
}



